body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
}

.goes_vtw_logo {
  text-align: right;
}

.stir {
  text-align: center;
}

footer {
  background: #181818;
  padding: 20px 0;
}

footer p {
  color: #949494;
  font-size: 14px !important;
  margin: 0;
}

footer strong {
  color: #fff;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
}

.navbar-brand img {
  width: 150px;
}

.navbar {
  padding: 2px 0;
}

footer h2 {
  font-family: 'oxfam_global_headlineregular' !important;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}

footer h2 span {
  color: #61a534;
}

.main_link ul {
  margin: 0;
  padding: 0;
}

.main_link ul li {
  list-style: none;
  margin-bottom: 8px;
}

.main_link ul li a {
  color: #f3f3f3;
  font-family: arial;
  font-size: 14px;
}

.social_links ul li a {
  color: #fff;
  background: #2e2e2e;
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}

.social_links ul li.fb a:hover {
  background: #4b69b0;
}

.social_links ul li.twitter a:hover {
  background: #37b1e1;
}

.social_links ul li.insta a:hover {
  background: #ae3d88;
}

.social_links ul li.linkedin a:hover {
  background: #0678b6;
}

.social_links ul li.youtube a:hover {
  background: #e83f3a;
}

.signup_form {
  position: relative;
  z-index: 999;
  bottom: 0px;
}

.act_sec p {
  margin: 7px 0;
}

.act_sec p a {
  color: #c3c3c3;
}

.footer_logo {
  margin-bottom: 15px;
}

.social_links {
  text-align: left !important;
}

.social_links ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
}

.social_links ul li {
  list-style: none;
  display: inline-block;
}

.inner_banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inner_banner img {
  width: 100%;
}

.center h2 {
  color: #fff;
  font-family: 'oxfam_global_headlineregular';
  font-size: 38px;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.inner_banner {
  background: url(../images/faq.jpg);
  width: 100%;
  background-size: cover;
  min-height: 500px;
  padding-top: 250px;
}

.inner_banner h1 {
  text-align: center;
  color: #fff;
  font-family: 'oxfam_global_headlineregular';
}

/*for Mobile Screen*/
@media only screen and (max-width: 1000px) {
  header {
    position: static;
    padding: 8px 0;
    background: #222;
  }

  .right_logo, .left_logo {
    width: 50%;
  }

  footer ul, .ftr-dec {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
  }

  footer ul li {
    padding: 2px 0;
  }
}

/*== Devender ==*/
.mainfix {
  background: url(../images/oxfam.jpg) center 0 no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 378px;
  padding: 30px 0;
}

.mainfix .container {
  padding: 130px 0 25px;
}

/*
.message {
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px;
  max-width: 700px;
  border: 1px solid #f1f1f1;
  background: #fff;
  border-radius: .25rem;
}
*/

#user-register-form, #user-login-form, #user-pass, #webform-submission-registration-add-form, #webform-submission-registration-edit-form {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  max-width: 700px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 0px 10px #bfbfbf;
  border-radius: .25rem;
}

.webform-submission-information {
  display: none;
}

#user-register-form .form-item {
  width: 49.5%;
  float: left;
  margin-bottom: 20px;
}

#user-register-form .form-item.js-form-type-password {
  margin-bottom: 0;
}

#user-register-form .form-item.form-item-field-mobile-number-0-value {
  width: 100%;
}

#user-register-form #edit-account.js-form-wrapper {
  float: none;
  clear: both;
}

#user-register-form #edit-pass.form-item {
  clear: both;
  float: none;
  width: 100%;
}

#user-register-form #edit-pass--description {
  float: none;
  clear: both;
}

#user-register-form .captcha {
  float: none;
  clear: both;
}

#user-register-form .form-item-field-last-name-0-value, #user-register-form .form-item-name, .form-item-pass-pass2 {
  margin-left: 1%;
}

#user-register-form input, #user-login-form input, #user-pass input, #webform-submission-registration-add-form input[type=tel],
#webform-submission-registration-add-form input[type=email], #webform-submission-registration-add-form input[type=text],
#webform-submission-registration-add-form select, #webform-submission-registration-edit-form input[type=text],
#webform-submission-registration-edit-form input[type=tel], #webform-submission-registration-edit-form input[type=email],
#webform-submission-registration-edit-form select {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #888;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  height: 45px;
  border: 1px solid #eee;
  border-radius: .25rem;
}

#webform-submission-registration-add-form input[type=tel], #webform-submission-registration-edit-form input[type=tel] {
  padding-left: 52px;
}

#user-register-form input[type=submit], #user-login-form input[type=submit], #user-pass input[type=submit], #webform-submission-registration-add-form [type=submit]  {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 250px;
  clear: both;
  display: block;
  margin: 20px auto;
}

#user-login-form .form-item, #user-pass .form-item {
  margin-bottom: 20px;
}

.form-item--error-message, .error {
  color: #dc3545;
  font-size: 11px;
  font-weight: normal;
}

/* video at home page */
.video_header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video_header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.video_header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 1440px) and (min-width: 1024px) {

  .video_header {
    height: 95vh;
  }

  .video_header video {
    top: 40%;
  }
}

.video_header .container {
  position: relative;
  z-index: 2;
}

.donate_btn {
  background: #e20153;
  color: #fff;
  padding: 8px 30px;
  border-radius: 20px;
  font-family: 'oxfam_global_headlineregular' !important;
  font-size: 26px;
  text-decoration: none;
}

.caption a, .video_header a {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  width: auto;
  display: inline-flex;
  background: #75c141;
  transition: ease all 0.5s;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  padding: 10px 25px 10px 10px;
  border-radius: 50px;
  font-family: 'oxfam_tstar_proregular' !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}

.caption a span, .video_header a span {
  width: 50px;
  height: 50px;
  display: table;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.caption a span i, .video_header a span i {
  color: #75c141;
}

.header_whitebox {
  position: unset;
  z-index: 999;
  background: #fff;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.dashboard.section {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.dashboard form {
  float: left;
  width: 20%;
  margin: 20px 0;
  padding: 0 15px;
  min-height: 200px;
}

.dashboard .js-form-item {
  position: relative;
}

.dashboard .js-form-item label {
  margin-bottom: 0;
}

.dashboard .form-number {
  border-radius: 0;
  margin: 0;
  padding: 7px 20px;
  width: 100%;
  background: #fff;
  border: 1px solid #d2d2d0;
  color: #a3a3a3;
  font-family: 'oxfam_global_headlineregular' !important;
  font-size: 17px;
  box-shadow: none;
  outline: none;
  margin-bottom: 10px;
  text-align: center;
}

.dashboard form input {
  width: 100%;
}

.dashboard .js-form-item #edit-day1-image--label, .dashboard .js-form-item #edit-day2-image--label,
.dashboard .js-form-item #edit-day3-image--label, .dashboard .js-form-item #edit-day4-image--label,
.dashboard .js-form-item #edit-day5-image--label, .dashboard .js-form-item #edit-day6-image--label,
.dashboard .js-form-item #edit-day7-image--label, .dashboard .js-form-item #edit-day8-image--label,
.dashboard .js-form-item #edit-day9-image--label, .dashboard .js-form-item #edit-day10-image--label {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-family: 'oxfam_global_headlineregular' !important;
  top: 9px;
  color: #a3a3a3;
}

.dashboard .js-form-file {
  opacity: 0;
}

.dashboard .js-hide {
  display: none !important;
}

.dashboard form .button {
  background: #ac2367;
  border: none;
  margin-top: 10px;
  border-color: #ac2367;
  color: #fff;
  box-shadow: none;
  height: 40px;
  text-decoration: none;
}

.ui-dialog {
  width: 380PX !important;
  padding: 0 !important;
  border: none !important;
}

.ui-dialog-titlebar {
  background: rgb(116, 192, 66);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-family: oxfam_global_headlineregular !important;
  border: none !important;
}

.ui-dialog-title {
  font-size: 26px;
}

.ui-dialog .user-login-form input {
  max-width: 100%;
  height: 45px;
  margin: 15px auto 0;
}

.ui-dialog .ui-dialog-buttonpane {
  border: none;
  margin: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  clear:both;
  text-align: center;
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: rgb(226, 1, 83);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.ui-widget-overlay {
  background-color: #000;
  opacity: .4;
}

#userprofile {
  max-width: 900px;
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
}

#edit-flexbox-04 {
}

#edit-flexbox-04 .js-form-wrapper {
  padding: 0;
  margin: 0;
}

#edit-flexbox-04 .webform-flex--container .webform-flex--container {
  margin: 0;
}

#edit-flexbox-04 label {
  display: none;
}

#edit-flexbox-04 legend {
  display: none;
}

.fieldset-wrapper {

}

.fieldset-wrapper .js-form-wrapper {
  width: 49%;
  float: left;
}

.fieldset-wrapper .form-item-country-administrative-area {
  width: 49%;
  float: left;
  margin-left: 2%;
}

#edit-test-slot--wrapper legend, #edit-challenge-slot--wrapper legend {
  display: none;
}

#edit-test-slot--wrapper label, #edit-challenge-slot--wrapper label {
  margin-bottom: .25rem;
}

#edit-test-slot--wrapper .js-form-type-checkbox, #edit-challenge-slot--wrapper .js-form-type-checkbox {
  margin-top: 2px;
  width: 100%;
}

.form-item-term-condtions-2 label, .form-item-term-condtions-3 label {
  display: inline;
}

.message-status {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  color: #000;
  border-radius: 4px;
  font-size: 16px;
}

.dashboard.section .js-form-wrapper {
  padding: 0;
}

.dashboard.section #edit-actions--4 {
  display: inline;
}

.iti {
  width: 100%;
  margin-top: 5px;
}

