<?php

/**
 * @file
 */
?>
{#
/**
 * @file
 * Sample template for HTML Mail test messages.
 */
 #}

</head>
<body>

  <table cellspacing="0" cellpadding="0" border="0" align="center" width="700" style="font-family: arial; border: 1px solid #f1f1f1;">

  <tr>
    <td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/vtwcongrates_header.jpg" style="border: 0; display: block;"></td>
  </tr>

  <tr>
    <td height="20"></td>
  </tr>



  <tr>
    <td><a href="https://www.oxfamindia.org/donate/trailwalker" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/congrates_01.jpg" style="border: 0; display: block;"></a></td>
  </tr>



  <tr>
    <td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/congrates_02.jpg" style="border: 0; display: block;"></td>
  </tr>

  <tr>
    <td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/congrates_03.jpg" style="border: 0; display: block;"></td>
  </tr>


  <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
          <tbody><tr>
            <td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/vtw-mailer-fb.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/vtw-mailer-insta.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/vtw-mailer-linkedin.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/vtw-mailer-twitter.jpg" style="display: block; outline: none;"></a></td>
          </tr>
        </tbody></table>
      </td>
    </tr>

  <tr>
    <td><a href="mailto:trailwalker@oxfamindiamail.org" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/images/congrates_04.jpg" style="border: 0; display: block;"></a></td>
  </tr>

</table>

</body>
