<?php

/**
 * @file
 */
?>
{#
/**
 * @file
 * Sample template for HTML Mail test messages.
 */
 #}

</head>
<body>

	<table cellpadding="0" cellspacing="0" border="0" align="center" width="648" style="font-family: arial; border:1px solid #eee;">
		<tr>
			<td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/hashtag_walk.jpg" style="display: block; outline:none; border: none;" style="display: block; outline:none; border: none;"></td>
		</tr>

		<tr>
			<td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/auto-congratulation-01.png" style="display: block; outline:none; border: none;"></td>
		</tr>

	

		<tr>
			<td height="10"></td>
		</tr>


		<tr>
			<td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/auto-congratulation-02.png" style="display: block; outline:none; border: none;"></td>
		</tr>

	

		<tr>
			<td><a href="https://www.oxfamindia.org/donate/trailwalker" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/donate_btn.jpg" style="display: block; outline:none; border: none;"></a></td>
		</tr>

		<tr>
			<td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/share-achievement.png" style="display: block; outline:none; border: none;"></td>
		</tr>

		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="648">
					<tr>
						<td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/vtw_mailer_fb.jpg" style="display: block; outline:none; border: none;"></a></td>
						<td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/vtw_mailer_insta.jpg" style="display: block; outline:none; border: none;"></a></td>
						<td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/vtw_mailer_twitter.jpg" style="display: block; outline:none; border: none;"></a></td>
						<td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/vtw_mailer_linkedin.jpg" style="display: block; outline:none; border: none;"></a></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-mailers/footer_vtw_mailer.jpg" style="display: block; outline:none; border: none;"></td>
		</tr>

	</table>

</body>