<?php

/**
 * @file
 */
?>
{#
/**
 * @file
 * Sample template for HTML Mail test messages.
 */
 #}
<style type="text/css">
@media only screen and (max-width:649px) {
#Table_01 {
  width: 97% !important;
}
.sm-width {
  width: auto!important;
}
img {
  width: 100%!important;
}
.btn {
  width: 90px!important;
}
.offer-end {
  width: 100px!important;
}
}
</style>
</head>
<body>

  <table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="border: 1px solid #f1f1f1;">
    {% if message.body == 100 %}

    <tr>
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day10-01.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700" style="font-family: arial;">
          <tr>
            <td style="font-size: 95px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; line-height: 80px;">100 kms</td>
          </tr>

          <tr>
            <td style="font-size: 44px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; ">done and dusted</td>
          </tr>

          <tr>
            <td style="font-size: 53px; text-align: center; text-transform: uppercase; color: #e44498; font-weight: 800; line-height: 50px;">you’ve done it!</td>
          </tr>
        </table>
      </td>
    </tr>
    {% else %}
    <tr>
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/50km-day10-01.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700" style="font-family: arial;">
          <tr>
            <td style="font-size: 95px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; line-height: 80px;">50.0 kms</td>
          </tr>

          <tr>
            <td style="font-size: 44px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; ">done and dusted</td>
          </tr>

          <tr>
            <td style="font-size: 53px; text-align: center; text-transform: uppercase; color: #e44498; font-weight: 800; line-height: 50px;">you’ve done it!</td>
          </tr>
        </table>
      </td>
    </tr>

    {% endif %}

    <tr>
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day10-02.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day10-completed-03.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day1-50km-04.jpg" style="display: block; outline: none;"></td>
    </tr>


    <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k07.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
          <tbody><tr>
            <td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k08.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k09.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k10.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k11.jpg" style="display: block; outline: none;"></a></td>
          </tr>
        </tbody></table>
      </td>
    </tr>

    <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k12.jpg" style="display: block; outline: none;"></td>
    </tr>
  </table>

</body>
