<?php

/**
 * @file
 */
?>
{#
/**
 * @file
 * Sample template for HTML Mail test messages.
 */
 #}
<style type="text/css">
@media only screen and (max-width:649px) {
#Table_01 {
	width: 97% !important;
}
.sm-width {
	width: auto!important;
}
img {
	width: 100%!important;
}
.btn {
	width: 90px!important;
}
.offer-end {
	width: 100px!important;
}
}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
 {% set msg = message.body|split('&') %}

<table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="border: 1px solid #f1f1f1;">
    <tr>
      <td>
        {% if msg[1] == 100 %}

        <img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-01.jpg" style="display: block; outline: none;">
        {% else %}
         <img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/50km-day1-01.jpg" style="display: block; outline: none;">
        {% endif %}

      </td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700" style="font-family: arial;">
          <tr>
            <td style="font-size: 95px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; line-height: 80px;">{{msg[2]}} kms</td>
          </tr>

          <tr>
            <td style="font-size: 44px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; ">done and dusted</td>
          </tr>

          <tr>
            <td style="font-size: 53px; text-align: center; text-transform: uppercase; color: #e44498; font-weight: 800; line-height: 50px;">{{msg[3]}} kms to go</td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>

{% if msg[4] == 1 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-02.jpg" style="display: block; outline: none;"></td>

{% elseif msg[4] == 2 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day2-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 3 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day3-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 4 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day4-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 5 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day5-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 6 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day6-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 7 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day7-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 8 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day8-02.jpg" style="display: block; outline: none;"></td>
{% elseif msg[4] == 9 %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day9-02.jpg" style="display: block; outline: none;"></td>

{% else %}
<td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day3-02.jpg" style="display: block; outline: none;"></td>
{% endif %}

    </tr>

    <tr>
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-03.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
          <tr>
            <td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-04.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-05.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-06.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-07.jpg" style="display: block; outline: none;"></a></td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      {% if msg[4] == 1 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-08.jpg" style="display: block; outline: none;"></td>
      {% elseif msg[4] == 2 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day2-08.jpg" style="display: block; outline: none;"></td>
      {% elseif msg[4] == 3 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day3-08.jpg" style="display: block; outline: none;"></td>
      {% elseif msg[4] == 4 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day4-08.jpg" style="display: block; outline: none;"></td>
      {% elseif msg[4] == 5 %}
      <td><a href="https://www.oxfamindia.org"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day5-08.jpg" style="display: block; outline: none;"></a></td>
      {% elseif msg[4] == 6 %}
      <td><a href="https://www.oxfamindia.org/crowd-fund"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day6-08.jpg" style="display: block; outline: none;"></a></td>
      {% elseif msg[4] == 7 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day7-08.jpg" style="display: block; outline: none;"></td>
      {% elseif msg[4] == 8 %}
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day8-08.jpg" style="display: block; outline: none;"></td>

      {% elseif msg[4] == 9 %}
      <td><a href="https://www.oxfamindia.org/petition/strengthen-indias-public-health-system"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day9-08.jpg" style="display: block; outline: none;"></a></td>
      {% else %}
      <td><a href="https://www.oxfamindia.org/petition/private-schools-for-increasing-knowledge-not-profits"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day3-08.jpg" style="display: block; outline: none;"></a></td>
      {% endif %}
    </tr>
  </table>


</body>
