{#
  /**
  * @file
  * Sample template for HTML Mail test messages.
  */
#}
<body>
  <table cellspacing="0" cellpadding="0" align="center" width="700" border="0" style="font-family: arial; border: 1px solid #f1f1f1;">
  <tr>
  <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/invalid01.jpg"></td>
  </tr>
  <tr>
  <td>
  <table cellpadding="0" cellspacing="0" align="center" border="0" width="480" style="font-family: arial;">
  <tr>
  <td style="color: #6ebe44; font-size: 24px; line-height: 28px; text-align: center;">If the issue persists, <br>please get in touch with us at:</td>
  </tr>
  <tr>
  <td height="30"></td>
  </tr>
  <tr>
  <td style="color: #61a534; font-size: 24px; line-height: 30px; text-align: center;"><a href="mailto:syed@oxfamindia.org" style="font-size: 29px; color: #6ebe44; text-decoration: none;">syed@oxfamindia.org |</a>  <a href="tel:88840 88821" style="font-size: 29px; color: #6ebe44; text-decoration: none;">88840 88821</a><br>or<br><a href="mailto:trailwalker@oxfamindiamail.org" style="font-size: 29px; color: #6ebe44; text-decoration: none;">trailwalker@oxfamindiamail.org</a>
  </td>
  </tr>
  <tr>
  <td height="50"></td>
  </tr>
  </table>
  </td>
  </tr>
  <tr>
  <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/invalid03.jpg" style="display: block; outline: none;"></td>
  </tr>
  <tr>
  <td>
  <table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
  <tbody><tr>
  <td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-04.jpg" style="display: block; outline: none;"></a></td>
  <td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-05.jpg" style="display: block; outline: none;"></a></td>
  <td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-06.jpg" style="display: block; outline: none;"></a></td>
  <td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-07.jpg" style="display: block; outline: none;"></a></td>
  </tr>
  </tbody></table>
  </td>
  </tr>
  <tr>
  <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/invalid02.jpg" style="display: block; outline: none;"></td>
  </tr>
  </table>
</body>
