{#
/**
 * @file
 * Sample template for sending user password reset messages with HTML Mail.
 *
 * The following variables are available in this template:
 *
 *  - $message_id: The email message id, which is 'user_password_reset'
 *  - $module: The sending module, which is 'user'.
 *  - $key: The user email action, which is 'password_reset'.
 *  - $headers: An array of email (name => value) pairs.
*  - $from: The configured sender address.
*  - $to: The recipient email address.
*  - $subject: The message subject line.
*  - $body: The formatted message body.
*  - $language: The language code for this message.
*  - $params: An array containing the following keys:
*    - account: The user object whose password is being requested, which
*      contains the following useful properties:
*      - uid: The user-id number.
*      - name: The user login name.
*      - mail: The user email address.  Should be the same as $to.
*      - theme: The user-chosen theme, or a blank string if unset.
*      - signature: The user signature block.
*      - signature_format: The text input filter used to format the signature.
*      - created: Account creation date, as a unix timestamp.
*      - access: Account access date, as a unix timestamp.
*      - login: Account login date, as a unix timestamp.
*      - status: Integer 0 = disabled; 1 = enabled.
*      - timezone: User timezone, or NULL if unset.
*      - language: User language, or blank string if unset.
*      - picture: Path to user picture, or blank string if unset.
*      - init: The email address used to initially register this account.
*      - data: User profile data, as a serialized string.
*      - roles: Array of roles assigned to this user, as (rid => role_name)
*        pairs.
*  - $template_path: The relative path to the template directory.
*  - $template_url: The absolute url to the template directory.
*  - $theme: The name of the selected Email theme.
*  - $theme_path: The relative path to the Email theme directory.
*  - $theme_url: The absolute url to the Email theme directory.
*/
#}
<body>
{% set mail = message.body|split('&') %}
	<table cellspacing="0" cellpadding="0" align="center" width="600" border="0" style="font-family: arial; font-size: 15px; line-height: 22px;">
		<tr>
			<td style="font-weight: bold; font-size: 16px;">Hi {{mail[0]}},</td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td>We have received a <strong>password reset request</strong> for your Virtual Trailwalker account.</td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td>Please click on the following link or copy-paste it into your browser to reset password:</td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td style="word-break: break-all;"><a href="{{mail[1]}}">{{mail[1]}}</a></td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td>This link can only be used only once and will expire automatically after one day, if not used.</td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td>If you did not raise this request, please inform us at <a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></td>
		</tr>

		<tr>
			<td height="15"></td>
		</tr>

		<tr>
			<td style="line-height: 24px;">Keep Walking!<br>
<strong>Team Oxfam Trailwalker India</strong></td>
		</tr>
	</table>

</body>