<?php

/**
 * @file
 */
?>
{#
/**
 * @file
 * Sample template for HTML Mail test messages.
 */
 #}
<style type="text/css">
@media only screen and (max-width:649px) {
#Table_01 {
	width: 97% !important;
}
.sm-width {
	width: auto!important;
}
img {
	width: 100%!important;
}
.btn {
	width: 90px!important;
}
.offer-end {
	width: 100px!important;
}
}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
 {% set msg = message.body|split('&') %}

<table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="border: 1px solid #f1f1f1;">
    <tr>
      <td>
        {% if msg[1] == 100 %}

        <img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-01.jpg" style="display: block; outline: none;">
        {% else %}
         <img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/50km-day1-01.jpg" style="display: block; outline: none;">
        {% endif %}

      </td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700" style="font-family: arial;">
          <tr>
            <td style="font-size: 95px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; line-height: 80px;">{{msg[2]}} kms</td>
          </tr>

          <tr>
            <td style="font-size: 44px; text-align: center; text-transform: uppercase; color: #2b2727; font-weight: 800; ">done and dusted</td>
          </tr>

          <tr>
            <td style="font-size: 53px; text-align: center; text-transform: uppercase; color: #e44498; font-weight: 800; line-height: 50px;">{{msg[3]}} kms to go</td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>

{% if msg[4] == 1 %}
     <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/despite-all-odds" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day1-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/despite-all-odds" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day1-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>

{% elseif msg[4] == 2 %}
<tr>
    <td><a href="https://www.youtube.com/watch?v=HC1BqPkHfOg" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day2-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.youtube.com/watch?v=HC1BqPkHfOg" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day2-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 3 %}
<tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/locked-down-tea-estates" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day3-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/locked-down-tea-estates" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day3-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 4 %}
<tr>
    <td><a href="https://www.oxfamindia.org/blog/chhattisgarh-recognises-cfr-rights-first-fras-inception" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day4-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/blog/chhattisgarh-recognises-cfr-rights-first-fras-inception" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day4-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 5 %}
<tr>
    <td><a href="https://www.youtube.com/watch?v=g1YR5GUzTSc" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day5-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.youtube.com/watch?v=g1YR5GUzTSc" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day5-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 6 %}
<tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/shopping-experience" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day6-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/shopping-experience" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day6-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 7 %}
<tr>
    <td><a href="https://www.youtube.com/watch?v=3md6h7dMR5I" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day7-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.youtube.com/watch?v=3md6h7dMR5I" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day7-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 8 %}
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/community-ownership-helps-improve-education-village-school" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day8-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/community-ownership-helps-improve-education-village-school" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day8-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% elseif msg[4] == 9 %}
<tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/cash-support-helps-restart-business" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day9-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.oxfamindia.org/featuredstories/cash-support-helps-restart-business" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day9-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>

{% else %}
<tr>
    <td><a href="https://www.youtube.com/watch?v=HC1BqPkHfOg" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day2-50km-02.jpg" style="display: block; outline: none;"></a></td>
    </tr>
    <tr>
    <td><a href="https://www.youtube.com/watch?v=HC1BqPkHfOg" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day2-50km-03.jpg" style="display: block; outline: none;"></a></td>
    </tr>
{% endif %}

    </tr>
<tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/day1-50km-04.jpg" style="display: block; outline: none;"></td>
    </tr>
    <tr>
      <td><img src="https://donate.oxfamindia.org/donatetoeducate/ravi/mailer/100km-day1-03.jpg" style="display: block; outline: none;"></td>
    </tr>
   <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k07.jpg" style="display: block; outline: none;"></td>
    </tr>

    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="700">
          <tbody><tr>
            <td><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k08.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k09.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k10.jpg" style="display: block; outline: none;"></a></td>
            <td><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k11.jpg" style="display: block; outline: none;"></a></td>
          </tr>
        </tbody></table>
      </td>
    </tr>

    <tr>
    <td><img src="https://donate.oxfamindia.org/donatetoeducate/virtualtrailwalker-mailer/auto-email-registration-50k12.jpg" style="display: block; outline: none;"></td>
    </tr>

    
  </table>


</body>
