.caption .tour_buttons a{line-height: 24px; width: 235px; vertical-align: top; text-align: left;}
.caption .tour_buttons a span{line-height: 50px; float: left;}
.caption .tour_buttons .logout{line-height: 50px !important;}
.successfully h3{color: #fff; font-family: arial; text-transform: uppercase; background: #ac2367; display: inline-block; padding: 15px; font-size: 32px;}
.successfully h4{color: #fff; font-family: 'oxfam_global_headlineregular' !important; font-size: 95px; text-align: center; text-shadow: 1px 3px 6px rgba(0,0,0,.5); line-height: 30px; line-height: 100px;}
.successfully .keep{color: #fff; font-family: arial; text-transform: uppercase; font-size: 32px; text-shadow: 1px 3px 6px rgba(0,0,0,.5); display: block; margin: 15px 0;}
.header_whitebox{position: absolute; z-index: 999; background: #fff; padding: 20px; left: 50%; width: 100%; max-width: 1000px; bottom: 5%; margin-left: -500px;}
.header_whitebox h1{font-family: 'oxfam_global_headlineregular' !important; font-size: 35px; text-align: center; margin-bottom: 20px;}
.header_whitebox ul li{list-style: none; font-family: arial; font-size: 20px; margin-bottom: 12px;}
.header_whitebox ul{margin: 0;}
.scrolling{overflow-y: scroll; height: 250px; border: 1px solid #f1f1f1; padding: 15px;}
.header_whitebox ul li strong{font-family: 'oxfam_global_headlineregular' !important; font-size: 25px;}
.scrolling h4{font-size: 20px; text-transform: uppercase; font-weight: bold; margin-bottom: 40px;}
.scrolling h5{font-size: 20px; font-weight: bold; }
.scrolling ul li{list-style: disc; font-size: 16px;}
@media only screen and (max-width: 1000px) { 
.header_whitebox{left: 0;margin-left:0px;position: inherit;
	}
	#user-register-form .form-item-field-country-0-address-administrative-area select {
    left: 0% !important;
    width: 100% !important;
}

}
.caption.successfully {bottom: 10%;width: 100%;left: 0;}
.responsive-enabled{display: none;}
#edit-pass--2--description, #edit-pass--description{display: block !important;}
.field--name-field-source-utm-code {display: none;}
div#edit-pass--description {font-size: 12px;color: #6ca010;}